/* login.page.scss */

/* Estilo para centrar el contenido verticalmente en la pantalla */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenido se ajuste al 100% de la altura de la ventana */
}

/* Estilo para el formulario */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para los campos de entrada */
ion-item {
  margin-bottom: 16px;
}

/* Estilo para el botón de inicio de sesión */
ion-button {
  --background: #007bff; /* Cambia el color de fondo del botón */
  color: #fff; /* Cambia el color del texto del botón */
  font-weight: bold;
}

/* Cambia el color del botón cuando se presiona */
ion-button:active {
  --background: #0056b3;
}

/* Estilo para el título de la página */
ion-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
